/*!
* =====================================================
* Name: custom.css
* Author: Alvin
* Version: 1.0.0 
* Date: 2017-07-18 11:05
* =====================================================
*/

/* ================================ 首页样式 ============================= */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* ================================ demo ============================= */

.img-responsive {
	width: 100%;
}
ul {
	padding: 0 0.3rem;
}

/* 20170718xx修改 */