<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  *{
    margin: 0;
    padding: 0;
  }
  html, body{
    height: 100%;
    text-align: center;
  }
  body {
    display: table;
    width: 100%;
  }
  .main{
    /*height: 2000px;*/
    background: #000;
    color: #fff;
    overflow-y: auto;
    height: 100%;
  }
  .footer{
    background: #f00;
    display: table-footer-group;
    line-height: 44px;
  }
  </style>
</head>
<body>
  <div class="main">这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/></div>
  <div class="footer">这里是底部</div>
</body>
</html>