<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
  *{
    margin: 0;
    padding: 0;
  }
  html, body{
    height: 100%;
  }

  .wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .header{
    background: #000;
    color: #fff;
    text-align: center;
  }
  .main{
    flex-grow: 1;
    background: #f00;
    color: #fff;
    overflow-y: auto;
  }
  .footer{
    background: #007fff;
    color: #fff;
    text-align: center;
  }
  </style>
</head>
<body>
  <div class="wrap">
    <div class="header">
      <p>header</p>
      <p>header</p>
    </div>
    <div class="main">这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/>这里是主体区域<br/></div>
    <div class="footer">
      <p>footer</p>
      <p>footer</p>
    </div>
  </div>
</body>
</html>